@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #020617;
  transition: all 200ms;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-family: "Courgette";
  font-size: 2.5rem;
  background: linear-gradient(
    90deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.input-box {
  font-size: 2.2rem;
  padding: 1.5rem;
  border-radius: 50px;
  font-family: courgette;
  border: 1px solid;
  text-align: center;
  display: inline-block;
  color: #f59e0b;
  /*   background-color: #020617; */
}

.input-box:focus {
  outline: 5px solid #16a34a;
  color: #16a34a;
  overflow: auto;
  box-shadow: 1px 1px 500px 10px hsla(148, 93%, 45%, 0.546);
}

.result-box {
  text-align: center;
  background-color: #031512;
  font-size: 3rem;
  background-color: #031712;
  padding: 2rem;
  border: 2px solid #16a34a;
  border-radius: 100px;
}
